.sub_firstview {
  background-image: url('../img/fv_about.jpg');
}

.greeting_wrap {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 95%;
  height: 560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #333333;
}

.greeting_title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting_title_wrap h4 {
  position: relative;
  right: 7.5rem;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: 'Yuji Syuku',
    serif;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  color: #333;
}

.greeting_body_wrap {
  margin: 5rem auto 0 auto;
  width: 100%;
}

.greeting_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50%;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.greeting_body p {
  display: flex;
  font-size: 1.4rem;
  letter-spacing: 1rem;
  line-height: 3.6rem;
  font-weight: 700;
  color: #333;
  margin-right: 10%;
}

.teacher_wrap {
  margin-top: 15rem;
}

.teacher_wrap .content_title,
.teacher_wrap .content_sub_title {
  text-align: center;
}

.teacher_details_wrap {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.teacher_details {
  width: 50%;
}

.teacher_details h5,
.teacher_details h6 {
  font-family: 'Yuji Syuku',
    serif;
}

.teacher_details h5 {
  font-size: 2.4rem;
}

.teacher_details h6 {
  margin-top: .5rem;
  font-size: 1.6rem;
}

.teacher_details small {
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 2rem;
  opacity: .5;
}

.teacher_details p {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
}

.teacher_details ul {
  margin-top: 2rem;
}

.teacher_details ul li::before {
  content: '-';
  margin-right: 1rem;
}

.teacher_details ul li {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.teacher_details_wrap picture {
  width: 40%;
}

.teacher_details_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teacher_wrap .common_link_wrap {
  margin: 15rem auto 15rem auto;
}

.teacher_wrap .common_link_wrap .common_link {
  padding-left: 4rem;
}

/* タブレット（全般） */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .greeting_wrap {
    height: 640px;
  }

  .greeting_title_wrap h4 {
    right: 2.5rem;
    font-size: 2rem;
  }

  .greeting_body p {
    font-size: 1rem;
    margin-right: 5%;
  }

  .teacher_details p {
    font-size: 1.6rem;
  }

  .teacher_details_wrap {
    align-items: center;
  }

  .teacher_details_wrap picture {
    width: 45%;
    height: 50%;
  }

  .teacher_details ul li {
    font-size: 1.4rem;
  }
}

/* sp（横向き） */
@media screen and (max-width: 926px) and (orientation: landscape) {
  .greeting_title_wrap h4 {
    font-size: 2rem;
  }

  .greeting_body p {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .teacher_details h5 {
    font-size: 2rem;
  }

  .teacher_details p,
  .teacher_details small,
  .teacher_details ul li {
    font-size: 1.2rem;
  }

  .teacher_wrap .common_link_wrap .common_link {
    text-align: center;
    padding-left: inherit;
  }

  .common_link::before {
    left: 7.5%;
  }

  .common_link::after {
    right: 7.5%;
  }
}


/* sp全般 */
@media screen and (max-width: 600px) {

  .greeting_wrap {
    flex-direction: column;
    height: inherit;
    padding: 3rem 0;
  }

  .greeting_title_wrap h4 {
    right: inherit;
    font-size: 2.4rem;
  }

  .greeting_title_wrap h4::before,
  .greeting_title_wrap h4::after {
    width: 10rem;
    height: 1px;
  }

  .greeting_title_wrap h4::before {
    right: 6rem;
  }

  .greeting_title_wrap h4::after {
    left: 6rem;
  }

  .greeting_body_wrap {
    width: 85%;
    margin: auto;
  }

  .greeting_title_wrap h4,
  .greeting_body {
    writing-mode: inherit;
    height: inherit;
  }

  .greeting_body p {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 700;
    margin-right: inherit;
    margin-top: 3rem;
  }

  .teacher_details_wrap {
    margin-top: 5rem;
    flex-direction: column;
  }

  .teacher_details {
    order: 2;
    margin-top: 3rem;
  }

  .teacher_details_wrap picture {
    order: 1;
  }

  .teacher_details,
  .teacher_details_wrap picture {
    width: 100%;
  }

  .teacher_details_wrap img {
    margin-top: 3rem;
  }

  .teacher_details h5 {
    font-size: 2rem;
  }

  .teacher_details h6 {
    font-size: 1.4rem;
  }

  .teacher_details p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .teacher_details p {
    margin-top: 1.5rem;
    font-weight: 600;
  }

  .teacher_details ul {
    margin-top: 1rem;
  }

  .teacher_details ul li {
    font-size: 1rem;
    line-height: 2rem;
  }

  .teacher_details ul li::before {
    margin-right: .5rem;
  }

  .teacher_wrap .common_link_wrap {
    margin: 8rem auto 8rem auto;
  }

  .teacher_details small {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .teacher_wrap .common_link_wrap .common_link {
    padding-left: inherit;
    text-align: center;
  }

  .teacher_wrap .common_link_wrap .common_link::before {
    left: 8%;
  }

  .teacher_wrap .common_link_wrap .common_link::after {
    right: 7%;
  }
}