.sub_firstview {
  background-image: url('../img/fv_about.jpg');
}

.greeting_wrap {
  margin-top: 10rem;
}

.greeting_title_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting_title_wrap h4 {
  position: relative;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: 'Yuji Syuku',
    serif;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  color: #3E1300;
}

.greeting_title_wrap h4::before,
.greeting_title_wrap h4::after {
  position: absolute;
  top: 50%;
  content: '';
  width: 160px;
  height: 2px;
  background-color: #CDCDCD;
}

.greeting_title_wrap h4::before {
  right: 8rem;
}

.greeting_title_wrap h4::after {
  left: 8rem;
}

.greeting_body_wrap {
  margin: 5rem auto 0 auto;
  width: 480px;
}

.greeting_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.greeting_body p {
  font-size: 1.6rem;
  letter-spacing: 1rem;
  line-height: 3rem;
}

.teacher_wrap {
  margin-top: 15rem;
}

.teacher_wrap .content_title,
.teacher_wrap .content_sub_title {
  text-align: center;
}

.teacher_details_wrap {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.teacher_details {
  width: 50%;
}

.teacher_details h5,
.teacher_details h6 {
  font-family: 'Yuji Syuku',
    serif;
}

.teacher_details h5 {
  font-size: 2.4rem;
}

.teacher_details h6 {
  margin-top: .5rem;
  font-size: 1.6rem;
}

.teacher_details small {
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 2rem;
  opacity: .5;
}

.teacher_details p {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  font-family: 'Shippori Mincho B1',
    serif;
}

.teacher_details ul {
  margin-top: 2rem;
}

.teacher_details ul li::before {
  content: '-';
  margin-right: 1rem;
}

.teacher_details ul li {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.teacher_details_wrap picture {
  width: 40%;
}

.teacher_details_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teacher_wrap .common_link_wrap {
  margin: 15rem auto 15rem auto;
}

.teacher_wrap .common_link_wrap .common_link {
  padding-left: 4rem;
}

/* タブレット（全般） */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .teacher_details p {
    font-size: 1.6rem;
  }

  .teacher_details_wrap {
    align-items: center;
  }

  .teacher_details_wrap picture {
    width: 45%;
    height: 50%;
  }

  .teacher_details ul li {
    font-size: 1.4rem;
  }
}

/* sp全般 */
@media screen and (max-width: 600px) {

  .greeting_title_wrap h4 {
    font-size: 2.4rem;
  }

  .greeting_title_wrap h4::before,
  .greeting_title_wrap h4::after {
    width: 10rem;
  }

  .greeting_title_wrap h4::before {
    right: 6rem;
  }

  .greeting_title_wrap h4::after {
    left: 6rem;
  }

  .greeting_body p {
    font-size: 1.4rem;
  }

  .greeting_body_wrap {
    width: 95%;
  }

  .greeting_body p {
    line-height: 2rem;
  }

  .teacher_details_wrap {
    margin-top: 5rem;
    flex-direction: column;
  }

  .teacher_details,
  .teacher_details_wrap picture {
    width: 100%;
  }

  .teacher_details_wrap img {
    margin-top: 3rem;
  }

  .teacher_details h5 {
    font-size: 1.6rem;
  }

  .teacher_details h6,
  .teacher_details p {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }

  .teacher_details p {
    margin-top: 1rem;
  }

  .teacher_details ul {
    margin-top: 1rem;
  }

  .teacher_details ul li {
    font-size: 1rem;
    line-height: 2rem;
  }

  .teacher_details ul li::before {
    margin-right: .5rem;
  }

  .teacher_wrap .common_link_wrap {
    margin: 8rem auto 8rem auto;
  }

  .teacher_details small {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}