.sub_firstview {
  background-image: url('../img/fv_lesson.jpg');
}

.lesson_title {
  margin: auto;
  padding: 1.6rem 0;
  width: 25%;
  font-family: 'Yuji Syuku',
    serif;
  font-size: 2.4rem;
  text-align: center;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}

.lesson_caption {
  display: flex;
  justify-content: center;
  margin: 3rem auto 0 auto;
  width: 70%;
  line-height: 3rem;
}

.lesson_caption,
.lesson_caption a {
  font-size: 1.6rem;
}

.lesson_caption a {
  color: #5095E7;
}

.lesson_demo_wrap {
  text-align: center;
}

.lesson_demo {
  display: inline-block;
  margin: 3rem auto;
  padding: 4rem;
  background-color: #FFFFFF;
  border: 1px solid #C2C2C2;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: left;
}

table {
  margin: 3rem auto 0 auto;
}

th {
  height: 48px;
  background-color: #3E1300;
  color: #ffffff;
}

td {
  background-color: #ffffff;
  padding: 2rem 0;
}

th,
td {
  width: 320px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.6rem;
  border: 1px solid #D3D3D3;
  font-family: 'Shippori Antique B1',
    sans-serif;
}

.guide_button_wrap {
  display: flex;
  justify-content: space-around;
  margin: 6rem auto 0 auto;
  width: 45%;
}

.guide_button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 48px;
  color: #ffffff;
  font-size: 1.6rem;
  border-radius: 50px;
}

.guide_button i {
  position: absolute;
  right: 2rem;
  font-size: 1.6rem;
}

.flow_button {
  background-color: #6E8871;
}

.signup_button {
  background-color: #2A4773;
}

.warning_note {
  margin: 1rem auto 0 auto;
  margin-top: 1rem;
  color: #FB2B2B;
  font-size: 1.4rem;
  line-height: 2rem;
}

.warning_note.small {
  width: 640px;
}

.warning_note.large {
  width: 960px;
}

td .warning_note {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.warning_note:first-of-type {
  margin: 2rem auto 0 auto;
}

.option_title {
  margin-top: 7.5rem;
  font-size: 1.6rem;
  text-align: center;
}

.option_title::before {
  content: '<';
  margin-right: .25rem;
}

.option_title::after {
  content: '>';
  margin-left: .25rem;
}

/* タブレット（全般） */
@media screen and (min-width: 568px) and (max-width: 1024px) {
  .lesson_title {
    width: 40%;
  }

  .warning_note.large {
    width: 100%;
  }
}

/* sp（横向き） */
@media screen and (max-width: 926px) and (orientation: landscape) {

  .lesson_title {
    width: 40%;
    font-size: 2rem;
  }

  .lesson_caption,
  .lesson_caption a {
    font-size: 1.4rem;
    font-weight: 700;
  }

  th,
  td {
    width: 25rem;
    font-size: 1.2rem;
  }

  .warning_note {
    font-weight: 900;
    font-size: 1rem;
  }

  .warning_note.large {
    width: 100%;
  }

  .warning_note.small {
    width: 80%;
  }

  .warning_note:first-of-type {
    margin: 1rem auto 0 auto;
  }

  .option_title {
    font-weight: 900;
  }

  .guide_button_wrap {
    width: 65%;
  }

  .lesson_demo {
    padding: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

/* sp全般 */
@media screen and (max-width: 567px) {

  table {
    margin: 3rem auto 0 auto;
  }

  th,
  td {
    width: 30%;
    height: auto;
    font-size: 1.2rem;
    padding: 1rem 0;
  }

  .warning_note.small,
  .warning_note.large {
    width: 100%;
  }

  .warning_note {
    font-weight: 600;
    margin-top: 0;
  }

  .option_title {
    font-weight: 900;
    font-size: 1.4rem;
  }

  .lesson_title {
    width: 70%;
  }

  .lesson_caption,
  .lesson_caption a {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .lesson_caption {
    width: 90%;
    line-height: 2.4rem;
  }

  .lesson_demo {
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .warning_note {
    font-size: 1.2rem;
  }

  .guide_button_wrap {
    width: 100%;
  }

  .guide_button {
    width: 47%;
    font-weight: 900;
    font-size: 1.4rem;
  }

  .guide_button i {
    right: 1.5rem;
    font-size: 1.4rem;
  }
}

/* sp（iPhone SE） */
@media screen and (max-width: 320px) {

  .lesson_title {
    width: 80%;
    font-size: 2rem;
  }

  .lesson_caption,
  .lesson_caption a {
    font-size: 1.2rem;
  }

  th,
  td {
    font-size: 1rem;
  }

  .warning_note {
    font-size: 1rem;
  }

  .option_title {
    font-size: 1.2rem;
  }

  .content_wrap {
    width: 90%;
  }

  .lesson_demo {
    font-size: 1rem;
  }
}