.content_wrap {
  width: 720px;
}

.reserve_head {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.prev_month,
.next_month {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.reserve_head p,
.reserve_head i {
  font-weight: 700;
  font-size: 1.2rem;
}

.to_month {
  font-size: 2rem;
  font-weight: 700;
}

.prev_month p,
.next_month i {
  margin-left: 1rem;
}

table {
  margin-top: 2rem;
  width: 100%;
}

th {
  height: 64px;
  background-color: #6E8871;
  color: #ffffff;
}

th p {
  font-weight: 500;
  font-size: 1.6rem
}

th p:nth-of-type(2) {
  margin-top: .25rem;
}

td {
  height: 80px;
  background-color: #ffffff;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  width: calc(100% / 9);
  word-break: break-all;
  border: 1px solid #CBC1C1;
}

td.time p {
  font-size: 1.4rem;
  font-weight: 700;
}

td.reserve_symbol p {
  font-size: 3.2rem;
  font-weight: 900;
}

td.schedule_check_wrap {
  font-size: 2.4rem;
  font-weight: 900;
}

[type="checkbox"] {
  width: 25%;
  height: 25%;
}

td.reserve_symbol.available p {
  color: #18B50B;
  cursor: pointer;
}

td.reserve_symbol.not_available p {
  color: #CF2500;
}

/* タブレット（全般） */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .content_wrap {
    width: 95%;
  }
}

/* sp（横向き） */
@media screen and (max-width: 926px) and (orientation: landscape) {}

/* sp全般 */
@media screen and (max-width: 600px) {
  .content_wrap {
    width: 97.5%;
  }

  .to_month {
    font-size: 1.6rem;
  }

  .reserve_head p,
  .reserve_head i {
    font-size: 1rem;
  }

  th {
    height: 5.5rem;
  }

  td {
    height: 5rem;
  }

  th p {
    font-size: 1.2rem;
  }

  td.time p {
    font-size: 1rem;
  }

  td.reserve_symbol p {
    font-size: 2.4rem;
  }
}

/* sp（iPhone SE） */
@media screen and (width: 320px) {}