* {
  font-size: 62.5%;
}

::selection {
  background: #3E1300;
  color: #ffffff;
}

::-moz-selection {
  background: #3E1300;
  color: #ffffff;
}

body {
  background: #F6F6F6;
  color: #333333;
  font-family: 'Shippori Mincho B1',
    serif;
}

/*================================================

* loading *

================================================*/
#splash {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #ffffff;
  text-align: center;
}

#splash img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 400px;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/*================================================

* header *

================================================*/

.header_box {
  position: fixed;
  left: 50%;
  top: 72px;
  transform: translateX(-50%) translateY(-200%);
  width: 1300px;
  height: 120px;
  background-color: #ffffff;
  border: 1px solid #C2C2C2;
  box-sizing: border-box;
  box-shadow: 0px -40px 30px rgba(0, 0, 0, 0.1);
  transition: .7s;
  z-index: 9;
}

.header_box.active {
  transform: translateX(-50%) translateY(-50%);
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 100%;
}

.header_inner li {
  width: 100%;
  text-align: center;
  list-style: none;
}

.header_inner li a {
  position: relative;
  font-family: 'Yuji Syuku',
    serif;
  font-size: 1.6rem;
}

.header_inner li a.active::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #333333;
}

.header_link_text {
  margin-top: .25rem;
  font-size: 1.2rem;
  color: #CDBDB6;
}

.header_logo {
  width: 100%;
}

.header_contact_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: #ffffff;
  background: #3E1300;
  border-radius: 3px;
}

.header_inner li a:not(.active, .header_logo_wrap):hover::before {
  content: '';
  /*絶対配置で波形の位置を決める*/
  position: absolute;
  left: 25%;
  top: 0;
  border: 1px solid #333;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 1;
  animation: 1s HeaderlinkHoverAction forwards;
}

@keyframes HeaderlinkHoverAction {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.header_sp {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 8vh;
  background: #F6F6F6;
  z-index: 8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_sp_logo_wrap {
  margin-left: 1rem;
  height: 100%;
}

.header_sp_logo {
  height: 100%;
}

.header_sp_menu {
  display: none;
  position: fixed;
  margin-right: .75rem;
  z-index: 10;
  right: 0;
  top: 0rem;
}

.header_sp_menu_btn {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  top: .5rem;
}

.header_sp_menu_btn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 2px;
  border-radius: 5px;
  background: #3E1300;
  width: 50%;
}

.header_sp_menu_btn.active span {
  background: #ffffff
}

.header_sp_menu_btn span:nth-of-type(1) {
  top: 13px;
}

.header_sp_menu_btn span:nth-of-type(2) {
  top: 21px;
}

.header_sp_menu_btn span:nth-of-type(3) {
  top: 29px;
}

.header_sp_menu_btn span:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: -.65rem;
  color: #333;
  font-size: .8rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-family: 'Bitter',
    serif;
}

.header_sp_menu_btn.active span:nth-of-type(1) {
  top: 14px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.header_sp_menu_btn.active span:nth-of-type(2) {
  opacity: 0;
}

.header_sp_menu_btn.active span:nth-of-type(3) {
  top: 26px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.header_sp_menu_btn.active span:nth-of-type(3)::after {
  content: "";
  transform: translateY(0) rotate(-45deg);
  top: 1rem;
  left: -.65rem;
}


/*================================================

* sp_menu *

================================================*/

.sp_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(62, 19, 0, 0.9);
  text-align: center;
  z-index: 9;
}

.sp_menu_inner {
  display: flex;
  flex-direction: column;
  height: 55vh;
  justify-content: space-between;
}

.sp_menu_inner li {
  list-style: none;
}

.sp_menu_inner li a {
  color: #ffffff;
  font-size: 2.4rem;
  font-family: 'Yuji Syuku',
    serif;
}

.sp_menu_inner li a i {
  margin: 0 .5rem;
  font-size: 3rem;
}

/*================================================

* component *

================================================*/

.content_wrap {
  margin: 10rem auto;
  width: 960px;
}

.content_title {
  position: relative;
  font-size: 3.2rem;
  letter-spacing: .5rem;
  font-weight: 900;
  color: #3E1300;
}

.content_sub_title {
  font-size: 2.4rem;
  font-family: 'Yuji Syuku',
    serif;
  color: #3E1300;
}

.content_title_border {
  width: 480px;
  height: 12px;
  margin-top: 2rem;
}

.common_link_wrap {
  margin-top: 4rem;
  width: 240px;
  transition: all 500ms;
}

.common_link {
  width: 100%;
  font-family: 'Shippori Antique B1',
    sans-serif;
  font-size: 1.4rem;
  text-align: left;
  position: relative;
  display: inline-block;
  color: #333;
  text-decoration: none;
  outline: none;
}

.common_link::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0%;
  width: 85%;
  height: 1px;
  background: #333;
  transition: all .3s;
}

.common_link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: 15%;
  width: 15px;
  height: 1px;
  background: #333;
  transform: rotate(35deg);
  transition: all .3s;
}

.common_link:hover::before {
  left: 15%;
}

.common_link:hover::after {
  right: 0%;
}

.line_qr_fix_wrap {
  transform: translate(50rem, 0);
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  transition: .7s;
}

.line_qr_fix_wrap.active {
  transform: translate(0, 0);
}

.line_qrbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 148px;
  height: 148px;
  background: #9AB490;
  border-radius: 3px;
}

.line_qr_fix_wrap .line_qrbox {
  height: 180px;
  border: 5px solid #FBFFFA;
}

.line_qrbox p {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 2rem;
}

.line_qr_fix_wrap .line_qrbox picture {
  width: 65%;
}

.line_qrbox picture {
  width: 55%;
  margin: auto;
}

.line_qrbox img {
  width: 100%;
}

/*================================================

* contact *

================================================*/
.contact_wrap {
  margin: 10rem auto 0 auto;
  width: 1080px;
}

.contact_title {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 900;
  color: #3E1300;
}

.contact_inner {
  display: flex;
  margin-top: 5rem;
}

.contact_element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
  text-align: center;
  height: 180px;
  color: #3E1300;
}

.contact_element:not(.contact_element:first-of-type) {
  border-left: 2px solid #3E1300;
}

.contact_element h5 {
  font-size: 2.4rem;
  font-weight: 700;
}

.contact_element a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 85%;
  height: 6.5rem;
  border: 3px solid #3E1300;
  font-size: 2rem;
  color: #3E1300;
  transition: all 200ms;
  font-weight: 00;
  border-radius: 3px;
}

.contact_element a:hover {
  background-color: #3E1300;
  color: #ffffff;
}

.img_slider_wrap {
  padding: 50px 0;
  margin: 8rem 0 0 0;
}

.img_slider img {
  width: 100%;
  height: 240px;
  border-radius: 3px;
  object-fit: cover;
}

.img_slider .slick-slide {
  margin: 0 10px;
}

.accrss_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto 0 auto;
  width: 760px;
}

.accrss_wrap picture {
  width: 40%;
}

.accrss_wrap img {
  width: 100%;
  object-fit: cover;
  border: 1px solid #DFDDDD;
}

.access_details {
  width: 45%;
}

.access_details h6 {
  font-size: 2.4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #CECECE;
  font-weight: 700;
}

.access_details_elements {
  display: flex;
  width: 85%;
  margin-top: 2rem;
}

.access_details_elements p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.access_details_elements p:first-of-type {
  width: 40%;
}

.access_details_elements p:nth-of-type(2) {
  width: 60%;
}

/*================================================

* footer *

================================================*/
.footer_wrap {
  padding: 7.5rem 0 12.5rem 0;
  margin-top: 10rem;
  width: 100%;
  height: 600px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../img/footer_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer_wrap * {
  color: #ffffff;
}

.footer_inner {
  margin: auto;
  text-align: center;
  width: 328px;
}

.footer_menu {
  display: flex;
  justify-content: space-between;
}

.footer_menu a {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 1.6rem;
  font-family: 'Yuji Syuku',
    serif;
  color: #ffffff;
  letter-spacing: 1rem;
}

.footer_inner img {
  margin-top: 5rem;
  width: 160px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: 5rem auto 0 auto;
  margin-top: 5rem;
}

.links i {
  font-size: 2.4rem;
}

.links a {
  font-size: 1.6rem;
}

.privacy_link,
.copy_rights {
  display: block;
  margin-top: 2rem;
  font-size: 1.2rem;
}

/*================================================

* TOP画面意外のファーストビュー *

================================================*/

.sub_firstview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  width: 100%;
  height: 480px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.sub_firstview h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: 'Yuji Syuku',
    serif;
  font-size: 3.2rem;
  color: #ffffff;
  background-color: rgba(62, 19, 0, 0.8);
  letter-spacing: 1rem;
  white-space: nowrap;
}

_::-webkit-full-page-media,
_:future,
:root .sub_firstview h3 {
  padding-bottom: 3rem;
}

/*================================================

* Animation *

================================================*/

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeDown {
  animation-name: fadeDownAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeDownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeLeft {
  animation-name: fadeLeftAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeRight {
  animation-name: fadeRightAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* タブレット（全般） */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .header_box {
    width: 95%;
    height: 104px;
  }

  .header_inner {
    width: 90%;
  }

  .header_inner li a {
    font-size: 1.2rem;
  }

  .content_wrap {
    width: 90%;
  }

  .contact_wrap {
    width: 100%;
  }

  .contact_element h5,
  .contact_element a {
    font-size: 1.6rem;
  }

  .accrss_wrap {
    width: 80%;
  }

  #splash img {
    width: 50rem;
  }

}

/* sp全般 */
@media screen and (max-width: 600px) {

  body {
    background-color: #FCFCFC;
  }

  #splash img {
    width: 30rem;
  }

  .header_pc {
    display: none;
  }

  .header_sp {
    display: flex;
  }

  .header_sp_menu {
    display: block;
  }

  .content_title_border {
    display: none;
  }

  .content_wrap {
    margin: 8rem auto;
    width: 85%;
  }

  .contact_wrap {
    padding: 5rem 0;
    width: 100%;
    background-color: #f2f1f1;
  }

  .contact_title,
  .contact_inner h5,
  .contact_element a {
    color: #333333;
  }

  .content_title {
    font-size: 2.4rem;
    letter-spacing: .25rem;
  }

  .contact_inner {
    flex-direction: column;
    margin-top: 2rem;
  }

  .contact_element {
    margin: auto;
    width: 80%;
    height: 20rem;
  }

  .contact_element:not(.contact_element:first-of-type) {
    border-top: 2px solid #333333;
    border-left: inherit;
  }

  .contact_element a {
    font-size: 1.6rem;
    font-weight: 700;
    border: 3px solid #333333;
  }

  .contact_inner h5 {
    font-size: 2rem;
  }

  .accrss_wrap {
    flex-direction: column;
  }

  .accrss_wrap {
    width: 80%;
  }

  .accrss_wrap img {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border: none;
  }

  .accrss_wrap picture {
    width: 100%;
  }

  .access_details {
    margin-top: 5rem;
    width: 100%;
  }

  .footer_inner {
    width: 70%;
  }

  .links {
    width: 70%;
  }

  .line_qr_fix_wrap {
    display: none;
  }

  .sub_firstview {
    margin-top: 8vh;
  }

  .sub_firstview h3 {
    width: 45%;
    font-size: 2.4rem;
  }

  .content_sub_title {
    font-size: 1.6rem;
    margin-top: .5rem;
  }

  .footer_inner img {
    width: 14rem;
  }

  .img_slider img {
    height: 17rem;
  }

  .sub_firstview,
  .footer_wrap {
    background-attachment: inherit;
  }
}

/* sp（横向き） */
@media screen and (max-width: 926px) and (orientation: landscape) {
  .header_pc {
    display: none;
  }

  .header_sp {
    display: flex;
    height: 13vh;
  }

  .header_sp_menu {
    display: block;
  }

  .content_title {
    font-size: 2.4rem;
  }

  .line_qr_fix_wrap {
    display: none;
  }

  .sub_firstview {
    height: 75vh;
    margin-top: 13vh;
  }

  .sub_firstview,
  .footer_wrap {
    background-attachment: inherit;
  }

  .sub_firstview h3 {
    font-size: 2rem;
  }

  .sp_menu_inner {
    height: 80vh;
  }

  .contact_title,
  .contact_inner h5,
  .contact_element a {
    color: #333333;
    font-weight: 700;
  }

  .contact_wrap {
    padding: 5rem 0;
    width: 100%;
    background-color: #f2f1f1;
  }

  .contact_element:not(.contact_element:first-of-type) {
    border-left: 2px solid #DFDDDD;
  }

  .sub_firstview h3 {
    width: 20%;
    height: 90%;
    font-size: 1.6rem;
  }
}

/* sp（iPhone SE） */
@media screen and (width: 320px) {}