* {
  font-size: 62.5%;
}

body {
  background: #F6F6F6;
  color: #333333;
  font-family: 'Shippori Antique B1',
    sans-serif;
}

/*================================================

* header *

================================================*/

.header_box {
  position: fixed;
  left: 50%;
  top: 72px;
  transform: translateX(-50%) translateY(-50%);
  width: 1300px;
  height: 120px;
  background-color: #ffffff;
  border: 1px solid #C2C2C2;
  box-sizing: border-box;
  box-shadow: 0px -40px 30px rgba(0, 0, 0, 0.1);
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 100%;
}

.header_inner li {
  width: 100%;
  text-align: center;
  list-style: none;
}

.header_inner li a {
  position: relative;
  font-family: 'Yuji Syuku',
    serif;
  font-size: 1.6rem;
}

.header_inner li a.active::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #333333;
}

.header_link_text {
  margin-top: .25rem;
  font-family: 'Shippori Mincho B1',
    serif;
  font-size: 1.2rem;
  color: #CDBDB6;
}

.header_logo {
  width: 55%;
}

.header_contact_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: #ffffff;
  background: #3E1300;
  border-radius: 3px;
}

.header_inner li a:not(.active, .header_logo_wrap):hover::before {
  content: '';
  /*絶対配置で波形の位置を決める*/
  position: absolute;
  left: 25%;
  top: 0;
  border: 1px solid #333;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 1;
  animation: 1s HeaderlinkHoverAction forwards;
}

@keyframes HeaderlinkHoverAction {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.header_sp {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10vh;
  background: #FFFFFF;
  z-index: 1;
}

.header_sp_logo_wrap {
  margin-left: 1rem;
  height: 100%;
}

.header_sp_logo {
  height: 100%;
}

.header_sp_menu {
  display: none;
  position: fixed;
  margin-right: .75rem;
  z-index: 3;
  right: 0;
  top: 1rem;
}

.header_sp_menu_btn {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  top: .5rem;
}

.header_sp_menu_btn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 2px;
  border-radius: 5px;
  background: #333;
  width: 50%;
}

.header_sp_menu_btn.active span {
  background: #ffffff
}

.header_sp_menu_btn span:nth-of-type(1) {
  top: 13px;
}

.header_sp_menu_btn span:nth-of-type(2) {
  top: 21px;
}

.header_sp_menu_btn span:nth-of-type(3) {
  top: 29px;
}

.header_sp_menu_btn span:nth-of-type(3)::after {
  content: "Menu";
  position: absolute;
  top: 1rem;
  left: -.65rem;
  color: #333;
  font-size: .8rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-family: 'Bitter',
    serif;
}

.header_sp_menu_btn.active span:nth-of-type(1) {
  top: 14px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.header_sp_menu_btn.active span:nth-of-type(2) {
  opacity: 0;
}

.header_sp_menu_btn.active span:nth-of-type(3) {
  top: 26px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.header_sp_menu_btn.active span:nth-of-type(3)::after {
  content: "";
  transform: translateY(0) rotate(-45deg);
  top: 1rem;
  left: -.65rem;
}


/*================================================

* sp_menu *

================================================*/

.sp_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(62, 19, 0, 0.9);
  text-align: center;
  z-index: 2;
}

.sp_menu_inner {
  display: flex;
  flex-direction: column;
  height: 55vh;
  justify-content: space-between;
}

.sp_menu_inner li a {
  color: #ffffff;
  font-size: 2.4rem;
  font-family: 'Yuji Syuku',
    serif;
}

.sp_menu_inner li a i {
  margin: 0 .5rem;
  font-size: 3rem;
}

/*================================================

* component *

================================================*/

.content_wrap {
  margin: 10rem auto;
  width: 960px;
}

.content_title {
  position: relative;
  font-size: 3.2rem;
  font-family: 'Yuji Syuku',
    serif;
  color: #3E1300;
}

.content_title_border {
  width: 480px;
  height: 10px;
  margin-top: 2rem;
}

.common_link_wrap {
  margin-top: 4rem;
  width: 240px;
  transition: all 500ms;
}

.common_link {
  display: block;
  width: 100%;
  font-family: 'Yuji Syuku',
    serif;
  font-size: 1.4rem;
  text-align: center;
}

.stickarrow {
  width: 100%;
  height: 8px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: skew(45deg);
}

.common_link_wrap:hover {
  transform: translate(2rem, 0);
}

/* タブレット（全般） */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .header_box {
    width: 95%;
    height: 104px;
  }

  .header_inner {
    width: 90%;
  }

  .header_inner li a {
    font-size: 1.2rem;
  }
}

/* sp（横向き） */
@media screen and (max-width: 926px) and (orientation: landscape) {
  .header_pc {
    display: none;
  }

  .header_sp {
    display: flex;
  }

  .header_sp_menu {
    display: block;
  }
}

/* sp全般 */
@media screen and (max-width: 600px) {
  .header_pc {
    display: none;
  }

  .header_sp {
    display: flex;
  }

  .header_sp_menu {
    display: block;
  }

  .content_title_border {
    width: 90%;
  }

  .content_wrap {
    margin: 8rem auto;
    width: 90%;
  }

  .content_title {
    font-size: 2rem;
  }

}

/* sp（iPhone SE） */
@media screen and (width: 320px) {}