* {
  font-size: 62.5%;
}

body {
  background: #F6F6F6;
  color: #333333;
  font-family: 'Shippori Antique B1',
    sans-serif;
}

/*================================================

* header *

================================================*/

.header_box {
  position: fixed;
  left: 50%;
  top: 72px;
  transform: translateX(-50%) translateY(-50%);
  width: 1300px;
  height: 120px;
  background-color: #ffffff;
  border: 1px solid #C2C2C2;
  box-sizing: border-box;
  box-shadow: 0px -40px 30px rgba(0, 0, 0, 0.1);
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 100%;
}

.header_inner li {
  width: 100%;
  text-align: center;
  list-style: none;
}

.header_inner li a {
  position: relative;
  font-family: 'Yuji Syuku',
    serif;
  font-size: 1.6rem;
}

.header_inner li a.active::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #333333;
}

.header_link_text {
  margin-top: .25rem;
  font-family: 'Shippori Mincho B1',
    serif;
  font-size: 1.2rem;
  color: #CDBDB6;
}

.header_logo {
  width: 55%;
}

.header_contact_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: #ffffff;
  background: #3E1300;
  border-radius: 3px;
}

.header_inner li a:not(.active, .header_logo_wrap):hover::before {
  content: '';
  /*絶対配置で波形の位置を決める*/
  position: absolute;
  left: 25%;
  top: 0;
  border: 1px solid #333;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 1;
  animation: 1s HeaderlinkHoverAction forwards;
}

@keyframes HeaderlinkHoverAction {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}