.content_wrap {
  width: 800px;
}

table {
  margin-top: 2rem;
  width: 100%;
  background-color: #ffffff;
}

th,
td {
  height: 64px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  width: 20%;
  word-break: break-all;
}

th,
td {
  border-top: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF;
}

th:first-child,
td:first-child {
  border-left: 1px solid #CFCFCF;
}

th:last-child,
td:last-child {
  border-right: 1px solid #CFCFCF;
}

td a {
  color: #5095E7;
  font-size: 1.6rem;
}

td.canceled {
  color: #AA3939;
  font-weight: 900;
}

td .cancel_btn,
td .preview_btn,
td .download_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 70%;
  color: #ffffff;
  border-radius: 3px;
  font-size: 1.4rem;
  margin: auto;
}

td .cancel_btn {
  background-color: #AA3939;
}

td .preview_btn {
  background-color: #6E8871;
}

td .download_btn {
  background-color: #2A4773;
}

td .preview_btn i {
  font-size: 1.4rem;
  margin-left: 1rem;
}

td .cancel_date {
  width: 85%;
  margin: auto;
  text-align: left;
  color: #AA3939;
}

td .cancel_date p {
  font-size: 1rem;
  font-weight: 900;
}

.pagination {
  display: flex;
  margin-top: 5rem;
}

.pagination li:not(li:first-child) {
  margin-left: .5rem;
}

.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #3E1300;
  border: 1px solid #CFCFCF;
  cursor: pointer;
}

.pagination li a,
.pagination li i {
  font-size: 1.6rem;
}

.pagination li.active,
.pagination li:hover,
.pagination li:hover a,
.pagination li:hover i {
  background-color: #3E1300;
  color: #ffffff;
}

/* タブレット（全般） */
@media screen and (min-width: 568px) and (max-width: 1024px) {
  .content_wrap {
    width: 95%;
  }
}

/* sp（横向き） */
@media screen and (max-width: 926px) and (orientation: landscape) {}

/* sp全般 */
@media screen and (max-width: 567px) {
  .content_sub_title {
    margin-left: 1rem;
  }

  .content_wrap {
    width: 100%;
  }

  th,
  td,
  td a {
    font-size: 1.2rem;
  }

  td .cancel_btn,
  td .preview_btn,
  td .download_btn {
    height: 55%;
    font-size: 1rem;
  }

  td .preview_btn i {
    font-size: 1rem;
    margin-left: .5rem;
  }
}

/* sp（iPhone SE） */
@media screen and (max-width: 320px) {}