.top_header_wrap {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  width: 75%;
  height: 240px;
}

.top_header_wrap .top_header_logo_wrap {
  display: flex;
  align-items: center;
  width: 20%;
}

.top_header_wrap .top_header_logo {
  width: 100%;
}

.top_header_menu_wrap {
  display: flex;
  justify-content: space-between;
}

.top_header_menu_wrap li {
  list-style: none;
  margin: 0 1.5rem;
  transition: all 250ms;
  transform: translate(0, -4rem);
}

.top_header_menu_wrap li:hover {
  transform: translate(0, -2rem);
}

.top_header_menu_wrap,
.top_header_form_wrap,
.line_qrwrap {
  height: 90%;
}

.top_header_form_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_header_form_wrap a,
.top_header_form_wrap i {
  font-size: 1.6rem;
}

.top_header_form_wrap i {
  margin-right: .5rem;
}

.top_header_form_wrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: #ffffff;
  border-radius: 50px;
}

.top_header_form_tel {
  background-color: #3E1300;
}

.top_header_form_web {
  background-color: #3F3F3F;
  margin-top: 1rem;
}

.line_qrwrap {
  display: flex;
  align-items: center;
}

.slider_wrap {
  position: relative;
}

.slider_wrap,
.slider,
.slider img {
  width: 100%;
  height: 95vh;
  object-fit: cover;
  max-height: 800px;
  overflow: hidden;
}

.slider img {
  filter: brightness(80%);
}

@keyframes fadezoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.slider_zoom {
  animation: fadezoom 10s 0s forwards;
}

.slider_logo_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 320px;
  border-radius: 5px;
}

.slider_logo_wrap img {
  width: 100%;
}

.slider_caption_img {
  position: absolute;
  right: 15rem;
  bottom: 7.5rem;
}

.about_content {
  margin-top: 3.2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.online_lesson_wrap {
  display: flex;
  justify-content: center;
  height: 280px;
}

.online_lesson_details {
  display: flex;
  align-items: center;
  background-color: #6E8871;
}

.online_lesson_img_wrap,
.online_lesson_details {
  width: 50%;
}

.online_lesson_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.online_lesson_details_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  width: 80%;
  height: 70%;
}

.online_lesson_details_inner h4 {
  font-size: 2.4rem;
  color: #ffffff;
}

.online_lesson_details_inner h5 {
  font-size: 1.6rem;
  color: #ffffff;
}

.online_lesson_details_inner p {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #ffffff;
}

.online_lesson_details .common_link {
  color: #ffffff;
  padding-left: 5rem;
}

.online_lesson_details .common_link::before,
.online_lesson_details .common_link::after {
  background: #ffffff;
}

.feature_title {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  float: right;
}

.feature_sub_title {
  margin-top: 12rem;
  text-align: right;
  float: right;
  transform: rotate(90deg);
}

.feature_elements {
  position: relative;
  top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.feature_elements:nth-of-type(2),
.feature_elements:nth-of-type(3) {
  margin-top: 3rem;
}

.feature_elements:nth-of-type(2) .feature_elements_deails {
  order: 1;
}

.feature_elements:nth-of-type(2) .feature_elements_img {
  order: 0;
}

.feature_elements_deails,
.feature_elements_img {
  width: 50%;
}

.feature_elements h5 {
  position: relative;
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 700;
  z-index: 2;
}

.feature_elements p {
  position: relative;
  margin-top: 3rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  z-index: 2;
}

.feature_elements_img {
  text-align: center;
}

.feature_elements_img img {
  position: relative;
  width: 400px;
  height: 320px;
  filter: drop-shadow(-240px 20px 0px #EEEEEE);
  border-radius: 50%;
  z-index: 1;
  object-fit: cover;
}

.feature_elements:nth-of-type(2) .feature_elements_img img {
  filter: drop-shadow(240px 20px 0px #EEEEEE);
}

.lesson_wrap {
  margin-top: 20rem;
}

.lesson_title {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  float: left;
}

.lesson_sub_title {
  margin-top: 16rem;
  float: left;
  transform: rotate(90deg);
}

.lesson_details_wrap {
  position: relative;
  top: 2.5rem;
  left: 10rem;
}

.lesson_details_wrap h5 {
  font-size: 2rem;
  font-weight: 700;
}

.lesson_details_wrap ul {
  margin-top: 2rem;
}

.lesson_details_wrap li,
.lesson_details_wrap p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
}

.lesson_details_wrap li::before {
  content: '・';
}

.lesson_details_wrap p {
  margin-top: 3rem;
}

.lesson_card_wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1350px;
  margin: 15rem auto 0 auto;
}

.lesson_card {
  position: relative;
  width: 400px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 2px;
  text-align: center;
  transition: all 1s;
}

.lesson_card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 160px;
  background-image: url('../img/lesson_details.png');
}

.lesson_card img {
  margin-top: 1.5rem;
  width: 90%;
  height: 65%;
  object-fit: cover;
  border-radius: 2px;
}

.lesson_card h6 {
  margin: 2rem auto 1rem auto;
  padding: 1rem 0;
  width: 60%;
  font-size: 2rem;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  font-weight: 700;
}

.lesson_card p {
  font-size: 1.6rem;
  font-weight: 500;
}

.lesson_card small {
  display: block;
  margin-top: .5rem;
  font-size: 1.2rem;
  color: #9C9C9C;
  font-weight: 500;
}

.lesson_card .mask {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
}

.lesson_card .mask .caption {
  width: 60%;
  padding: 2rem 0;
  font-size: 2rem;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.lesson_card:hover .mask {
  opacity: 1;
}

.youtube_wrap {
  margin: 10rem auto 0 auto;
  width: 640px;
  border: 2px solid #DFDDDD;
  padding: 3rem;
}

.youtube_inner {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.youtube_inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* タブレット（全般） */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .top_header_wrap {
    width: 95%;
  }

  .top_header_menu_wrap li {
    margin: 0 1rem;
  }

  .top_header_form_wrap a {
    width: 22vw;
  }

  .line_qrbox {
    width: 18vw;
    height: 18vw;
  }

  .slider_caption_img {
    right: 5rem;
  }

  .feature_elements_img img {
    width: 100%;
    height: 25rem;
  }

  .lesson_details_wrap {
    left: 4rem;
  }

  .lesson_card_wrap {
    width: 95%;
  }

  .lesson_card {
    width: 33%;
    height: 42.5vw;
  }

  .lesson_card h6 {
    font-size: 1.6rem;
  }

  .lesson_card p {
    font-size: 1.4rem;
  }

  .lesson_card small {
    font-size: 1rem;
  }

  .lesson_card img {
    height: 60%;
  }
}

/* sp（横向き） */
@media screen and (max-width: 926px) and (orientation: landscape) {}

/* sp全般 */
@media screen and (max-width: 600px) {
  .top_header_wrap {
    display: none;
  }

  .slider_wrap {
    margin-top: 8vh;
  }

  .slider_wrap,
  .slider,
  .slider img {
    height: 82vh;
  }

  .slider_logo_wrap {
    width: 50vw;
  }

  .slider_caption_img {
    width: 25vw;
    bottom: 2rem;
    right: 1rem;
  }

  .about_content {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-top: 2.4rem;
    font-weight: 700;
  }

  .online_lesson_wrap {
    border-radius: 5px;
  }

  .online_lesson_img_wrap {
    display: none;
  }

  .online_lesson_details {
    width: 100%;
  }

  .online_lesson_details_inner h4,
  .online_lesson_details_inner h5 {
    text-align: center;
    font-weight: 900;
  }

  .online_lesson_details_inner h5 {
    margin-top: .5rem;
  }

  .online_lesson_details_inner p {
    font-weight: 700;
  }

  .feature_title,
  .feature_sub_title {
    float: inherit;
    -ms-writing-mode: inherit;
    writing-mode: inherit;
    text-align: center;
    transform: inherit;
  }

  .feature_sub_title,
  .lesson_sub_title {
    font-size: 1.6rem;
    margin-top: .5rem;
  }

  .lesson_card .mask {
    display: none;
  }

  .feature_elements {
    flex-direction: column;
  }

  .feature_elements_deails,
  .feature_elements_img {
    width: 100%;
  }

  .feature_elements h5 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .feature_elements_img {
    order: 0;
  }

  .feature_elements_deails {
    margin-top: 3rem;
    order: 1;
  }

  .feature_elements_img img {
    width: 75vw;
    height: 65vw;
  }

  .feature_elements_img img,
  .feature_elements:nth-of-type(2) .feature_elements_img img,
  .feature_elements:nth-of-type(3) .feature_elements_img img {
    filter: inherit
  }

  .feature_elements p {
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .lesson_title,
  .lesson_sub_title {
    text-align: center;
    writing-mode: inherit;
    float: inherit;
  }

  .lesson_sub_title {
    transform: inherit;
  }

  .lesson_details_wrap {
    left: inherit;
    top: 3rem;
  }

  .lesson_details_wrap h5 {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .lesson_details_wrap ul {
    margin-top: 2rem;
  }

  .lesson_details_wrap li,
  .lesson_details_wrap p {
    font-size: 1.2rem;
  }

  .lesson_details_wrap p {
    margin-top: 2rem;
  }

  .lesson_card_wrap {
    flex-direction: column;
    width: 85%;
    margin: 0rem auto 0 auto;
  }

  .lesson_card {
    margin-top: 3rem;
    width: 100%;
    height: 38rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .lesson_card img {
    height: 55%;
  }

  .lesson_card h6 {
    margin: 2rem auto 1.4rem auto;
    padding: 1.4rem 0;
    font-size: 2rem;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
  }

  .lesson_card small {
    font-size: 1.4rem;
  }

  .youtube_wrap {
    width: 90%;
    padding: 1rem;
  }

  @keyframes fadezoom {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.2);
    }
  }
}

/* sp（iPhone SE） */
@media screen and (width: 320px) {}