.content_wrap {
  width: 1000px;
}

.member_edit_form_wrap {
  margin-top: 4rem;
  padding: 5rem 0;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #C2C2C2;
}

.member_edit_form_inner {
  margin: auto;
  width: 504px;
}

.member_edit_form_input_element {
  margin-top: 5rem;
}

.member_edit_form_input_element label {
  font-size: 1.6rem;
  font-weight: 700;
}

.member_edit_form_input_element label.required::after {
  content: '※';
  margin-left: .5rem;
  color: #FF0000;
}

.member_edit_form_input_element input {
  margin-top: 1rem;
  width: 100%;
  height: 40px;
  border: 1px solid #D5D5D5;
  border-radius: 1px;
  padding-left: .5rem;
  font-size: 1.6rem;
}

.member_edit_form_input_element.half input {
  width: 47%;
}

.member_edit_form_input_wrap {
  display: flex;
  justify-content: space-between;
}

.member_edit_form_input_element input:focus {
  border: 2px solid #3E1300;
  border-radius: 4px;
}

/* タブレット（全般） */
@media screen and (min-width: 568px) and (max-width: 1024px) {
  .content_wrap {
    width: 85%;
  }
}

/* sp（横向き） */
@media screen and (max-width: 926px) and (orientation: landscape) {
  .content_wrap {
    width: 95%;
  }

  .member_edit_form_inner {
    width: 80%;
  }
}

/* sp全般 */
@media screen and (max-width: 567px) {
  .content_wrap {
    width: 100%;
  }

  .content_sub_title {
    margin-left: 1rem;
  }

  .member_edit_form_wrap {
    width: 95%;
    padding: 0 0 3rem 0;
    margin: 4rem auto 0 auto;
  }

  .member_edit_form_inner {
    width: 80%;
  }

  .member_edit_form_input_element label {
    font-size: 1.4rem;
  }
}

/* sp（iPhone SE） */
@media screen and (max-width: 320px) {
  .member_edit_form_inner {
    width: 90%;
  }
}