body {
  font-family: 'Noto Sans JP',
    sans-serif;
}

.mypage_header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem auto;
  width: 95%;
  height: 112px;
}

.mypage_header_logo_wrap {
  display: flex;
  align-items: center;
  height: 100%;
}

.mypage_header_logo_wrap img {
  height: 100%;
}

.mypage_header_title {
  margin-left: 2rem;
}

.mypage_header_title h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

.mypage_header_title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: .5rem;
}

.mypage_header_account {
  display: flex;
  height: 100%;
}

.mypage_header_account a,
.mypage_header_account p {
  font-size: 1.6rem;
}

.mypage_header_account p {
  margin-right: 2rem;
}

.contents_link_wrap {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.contents_link_wrap li {
  position: relative;
  list-style: none;
  text-align: center;
  width: 25%;
}

.contents_link_wrap li a {
  font-size: 1.4rem;
}

.contents_link_wrap li.active a {
  font-weight: 900;
}

.contents_link_wrap li.active::after {
  content: '';
  position: absolute;
  left: 15%;
  bottom: -1.2rem;
  width: 70%;
  height: 3px;
  margin: auto;
  background-color: #333333;
}

.content_title_wrap {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  height: 64px;
  background-color: #3E1300;
}

.content_title_wrap h3 {
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}