.condition_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2.5rem;
  width: 100%;
}

.condition_wrap label {
  font-size: 1.4rem;
  font-weight: 700;
}

.condition_wrap i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
  margin-left: 1rem;
  background-color: #D4D4D4;
}

.condition_wrap input {
  width: 160px;
  height: 40px;
  border: 1px solid #D5D5D5;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: #ffffff;
  font-size: 1.6rem;
  padding-left: 1rem;
}

.search_btn_small {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 2rem;
  width: 80px;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.reserve_add_link {
  font-size: 1.6rem;
  font-weight: 900;
}

/* タブレット（全般） */
@media screen and (min-width: 568px) and (max-width: 1024px) {}

/* sp（横向き） */
@media screen and (max-width: 926px) and (orientation: landscape) {}

/* sp全般 */
@media screen and (max-width: 567px) {
  .condition_wrap {
    width: 95%;
    margin: 2rem auto;
  }

  .condition_wrap label,
  .reserve_add_link {
    font-size: 1rem;
  }
}

/* sp（iPhone SE） */
@media screen and (width: 320px) {}